.root{
    -fx-background-image: url("../../../../resources/images/signInBackground.jpg");
    -fx-background-size: 100% 100%;
}

.signUpButton , .signInButton{
    -fx-fill: #10284f;
    -fx-opacity: 0.8;
    /*-fx-border-radius: 0px;*/
    fx-text-fill : white ;
}

.frame{
    -fx-fill: RED;
}