.root{
    -fx-background-image: url("../../../../resources/maps/battlemap0_middleground.png");
     -fx-background-size: 100% 100%;
}

.cardBackground{
    -fx-background-image: url("../../../../resources/ui/card_background_highlight.png");
}

.cell{
     -fx-fill: #ffffff70;
     -fx-width: 20;
     -fx-height: 25;
}

.cellEntered{
    -fx-fill: #ffffff97;
    -fx-width: 20;
    -fx-height: 25;
}

.cellSelected{
    -fx-fill: #79c1ed97;
    -fx-width: 20;
    -fx-height: 25;
}

.specialPowerInserted{
     -fx-fill: #99700097;
        -fx-width: 20;
        -fx-height: 25;
}

.mana{
    -fx-image: url("../../../../resources/ui/icon_mana.png");
}

.emptyMana{
    -fx-image: url("../../../../resources/ui/icon_mana_inactive.png");
}

.info{
     -fx-background-radius: 20;
     -fx-opacity: 0;
}

.infoEntered{
    -fx-background-radius: 20;
    -fx-opacity: 0.5;
}

.specialPower{
     -fx-image: url("../../../../resources/ui/collection_card_rarity_legendary.png");
}

.specialPowerDragged{
  -fx-image: url("../../../../resources/ui/collection_card_rarity_epic.png");
}

.specialPowerDisabled{
      -fx-image: url("../../../../resources/ui/collection_card_rarity_common.png");
}

.showCollectable{
    -fx-background-color: #000000;
    -fx-opacity: 0;
}

.showCollectableEntered{
    -fx-background-color: #000000;
    -fx-opacity: .5;
}


.playerInfo{
  -fx-image: url("../../../../resources/arena/run_current_game.png");

}

.showItemLable{
    -fx-text-fill: #ffffff;
    -fx-pref-width: 200;
    -fx-font-family: "Didot";
    -fx-font-size: 20.0;
    -fx-alignment: "CENTER";
}

.turnDisable{
    -fx-image: url("../../../../resources/profile_icons/borders/silver@2x.png");
}

.turnEnable{
    -fx-image: url("../../../../resources/profile_icons/borders/gold@2x.png");
}
