.root{
    -fx-background-image: url("../../../../resources/images/signInBackground.jpg");
    -fx-background-size: 100% 100%;
}
.text-field{
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-opacity: 0.5;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-padding: 0 0 0 10 ;
}

.wrong-text-field{
    -fx-border-color: red;
    -fx-border-width: 5px;
    -fx-text-fill: white;
    -fx-opacity: 0.5;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-padding: 0 0 0 10 ;
}

.frame{
    -fx-fill: RED;
}