.button{
    -fx-background-color: transparent ;
    -fx-opacity: 0.8;
    -fx-border-radius: 0px;
    fx-text-fill : white ;
    -fx-text-alignment: center;
    -fx-alignment: center;
}
.button1{
    -fx-background-image: url("../../../../resources/ui/button_primary.png");
    -fx-background-size: 100% 100%;
 }
.button1Clicked{
    -fx-background-image: url("../../../../resources/ui/button_primary_glow.png");
    -fx-background-size: 100% 100%;
}
.button2{
    -fx-background-image: url("../../../../resources/ui/button_secondary.png");
    -fx-background-size: 100% 100%;
}
.button2Clicked{
    -fx-background-image: url("../../../../resources/ui/button_secondary_glow.png");
    -fx-background-size: 100% 100%;
}

.menu-button{
    -fx-background-image: url("../../../../resources/ui/diamond_main_menu_container@2x.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 100% 100%;
    -fx-text-fill: white;
}
.menu-buttonClicked{
    -fx-background-image: url("../../../../resources/ui/gold_main_menu_container@2x.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 100% 100%;
    -fx-text-fill: white;
}
.menu-button-disabled{
    -fx-background-image: url("../../../../resources/ui/diamond_main_menu_container@2x_disabled.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 100% 100%;
    -fx-text-fill: #DDDDDD;
}
.back-button{
    -fx-background-image: url("../../../../resources/ui/button_back_corner.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 100% 100%;
}

.endTurnButton{
    -fx-background-image: url("../../../../resources/ui/button_end_turn_mine.png");
}
.endTurnButtonClicked{
     -fx-background-image: url("../../../../resources/ui/button_end_turn_mine_glow.png");
}
.battleMenuButton{
    -fx-background-image: url("../../../../resources/ui/button_primary_left.png");
    -fx-background-size: 100% 100%;
}

.battleMenuButtonClicked{
    -fx-background-image: url("../../../../resources/ui/button_primary_left_glow.png");
    -fx-background-size: 100% 100%;
}
.graveYardButton{
    -fx-background-image: url("../../../../resources/ui/button_primary_right.png");
    -fx-background-size: 100% 100%;
}

.graveYardButtonClicked{
    -fx-background-image: url("../../../../resources/ui/button_primary_right_glow.png");
    -fx-background-size: 100% 100%;
}

.showCollectableButton{
    -fx-background-image: url("../../../../resources/ui/button_primary.png");
    -fx-background-size: 100% 100%;
}

.showCollectableButtonClicked{
    -fx-background-image: url("../../../../resources/ui/button_primary_glow.png");
    -fx-background-size: 100% 100%;
}

.shopping-button{
    -fx-background-image: url("../../../../resources/ui/button_primary.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 100% 100%;
    -fx-text-fill: WHITE;
}
.shopping-buttonClicked{
    -fx-background-image: url("../../../../resources/ui/button_primary_glow.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 100% 100%;
}
.shopping-button-disabled{
    -fx-background-image: url("../../../../resources/ui/button_primary_disabled.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 100% 100%;
    -fx-text-fill: #dddddd;
}
.tab-button{
    -fx-background-color : transparent ;
    -fx-text-fill: WHITE;
}
.tab-button-selected{
    -fx-background-color: black;
    -fx-opacity: 0.3;
    -fx-text-fill: WHITE;
}

.radio-button{
    -fx-background-color: transparent;
}
.radio-buttonClicked{
    -fx-background-color: transparent;
}

.deck-button{
    -fx-background-image: url("../../../../resources/ui/button_primary.png");
    -fx-background-size: 100% 100%;
    -fx-text-fill: RED;
    -fx-font-weight: BOLD;
    -fx-font-family: Verdana;
    -fx-font-size: 16;
}
.deck-buttonClicked{
    -fx-background-image: url("../../../../resources/ui/button_primary_glow.png");
    -fx-background-size: 100% 100%;
    -fx-text-fill: RED;
    -fx-font-family: Verdana;
    -fx-font-weight : BOLD;
    -fx-font-size: 16;
}
