.button{
    -fx-background-color: transparent ;
    -fx-opacity: 0.8;
    -fx-border-radius: 0px;
    fx-text-fill : white ;
    -fx-text-alignment: center;
    -fx-alignment: center;
}
.button1{
    -fx-background-image: url("../../../../resources/ui/button_primary.png");
 }
.button1clicked{
    -fx-background-image: url("../../../../resources/ui/button_primary_glow.png");
}
.button2{
    -fx-background-image: url("../../../../resources/ui/button_secondary.png");
}
.button2clicked{
    -fx-background-image: url("../../../../resources/ui/button_secondary_glow.png");
}