.root{
    -fx-background-image: url("../../../../resources/images/collectionBackground.jpg");
    -fx-background-size: 100% 100%;
}
.text-field{
    -fx-font-family: Verdana;
    -fx-background-color: #FFAA3090;
    -fx-text-fill: white;
}
.text-field-wrong{
    -fx-border-color: red;
    -fx-border-width: 5px;
}
.choice-box .menu-item{
     -fx-font-family: Verdana;
     -fx-font-size: 25px;
     -fx-text-fill: #FFFFFF;
    -fx-background-color: #FF900080;
    -fx-pref-width: 399px;
    -fx-alignment: Center;
    -fx-font-weight: bold;
 }
.choice-box{
    -fx-font-family: Verdana;
    -fx-font-size: 35px;
    -fx-background-color: #FF900080;
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF;
}