.root{
    -fx-background-image: url("../../../../resources/images/deckSelector.jpg") ;
    -fx-background-size: 100% 100%;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}
.scroll-pane{
    -fx-background-color: #202020;
    -fx-opacity: 0.7;
}
.nameLabel{
    -fx-font-family: "Songti SC";
    -fx-font-weight: bold ;
    -fx-text-fill: white;
    -fx-font-size: 30;
}